@media screen and (max-width: 800px) {
  .card {
    width: calc(100% / 4 - 1rem);
  }
}

@media screen  and (max-width: 640px) {
  .sidebar {
    width: 40px;
    padding: 5px;
  }

  .left-container {
    width: calc(100% - 40px);
  }

  header {
    width: calc(100% - 40px);
  }

  .full-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .mobile-menu img {
    width: 70%;
  }
  .card {
    width: calc(100% / 2 - 1rem)
  }
}