@media screen and (max-width: 800px) {
  .card {
    width: calc(100% / 4 - 1rem);
  }
}

@media screen  and (max-width: 640px) {
  .sidebar {
    width: 40px;
    padding: 5px;
  }

  .sidebar * {
    padding: 0;
    margin: 0;
  }

  .screen-menu {
    display: none;
  }

  .sidebar .logo {
    height: 40px;
  }

  svg.mobile-menu {
    display: flex;
  }

  .full-menu li {
    display: block;
    text-align: center;
  }

  .full-menu .top svg {
    width: 80%;
    margin: 0;
  }

  .left-container {
    width: calc(100% - 40px);
  }

  header {
    width: calc(100% - 40px);
  }
  .card {
    width: calc(100% / 2 - 1rem)
  }

  footer .left .icon.d-flex {
    flex-direction: column;
    row-gap: 5px;
  }

  footer .col.right .col.left {
    width: 150px;
  }
  footer .col.center {
    width: calc(100% - 300px);
  }

  .center .bottom span {
    font-size: 0.6rem;
    margin: 0 10px;
  }

  footer .right .icon {
    margin-right: 10px;
  }
  
}