* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #a3a3a3;
  font-weight: bold;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* UTILITIES */
.bg-black {
  background-color: black;
}

.bg-darkblue {
  background-color: #141922;
}

.bg-darkgray {
  background-color: #282828;
}

.bg-lightgray {
  background-color: #c1c1c1;
}

.bg-dark {
  background-color: rgba(0, 0,0, 0.5);
}

.font-white {
  color: #ffffff;
}

.font-gray {
  color: #696969;
}

.font-lightgray {
  color:#d2d2d2;
}

.font-black {
  color: black;
}

.bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.column-dir {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.tx-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.p20 {
  padding-left: 20px;
  padding-right: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #696969;
  font-weight: bold;
}

h3 {
  font-size: 0.9rem ;
  color: white;
  margin: 1rem 0 0.4rem;
}

h4 {
  font-size: 0.8rem ;
}

p {
  font-size: 1rem;
  margin: 1rem 0 2rem;
}

.active:hover {
  color: white;
}



 /* MAIN CONTAINER */
.main-container {
  height: calc(100vh - 75px);
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  overflow: auto;
  padding-bottom: 20px;
}

.full-menu {
  height: 100%;
}

.full-menu .bottom {
  height: 70px;
}

.full-menu .top {
  height: 300px;
}

.full-menu .center {
  height: calc(100vh - 445px);
  overflow: auto;
}

.bottom 
.mobile-menu {
  display: none;
  height: 100%;
}

.logo {
  height: 80px;
}

.logo img {
  width: 70%;
}

.full-menu svg {
  width: 15%;
  color:#d2d2d2;
  margin: 0 5px 0 20px;
  cursor: pointer;
}

.full-menu .home li {
  margin-bottom: 8px;
}


.full-menu .home li:active {
  border-left: 3px solid greenyellow;
}

.full-menu .plus {
  padding: 5px 8px;
  margin-right: 8px;
  font-size: 1.2rem;
  cursor: pointer;
}

.full-menu li {
  margin-bottom: 10px;
}

.full-menu h4 {
  margin: 20px 0 10px;
}

.horizontal-bar {
  width: 100%;
  height: 1px;
  background-color: #a3a3a3;
  margin: 0.8rem 0;
}

.download-img {
  width: 15px;
  vertical-align: middle;
  background-color: ;
}

.avatar img {
  object-fit: cover;
  background-color: #808080;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.full-menu a {
  font-size: 0.8rem;
  font-size: bold;
}


/* LEFT-CONTAINER */
.left-container {
  width: calc(100% - 200px);
  height: 100%;
  overflow: auto;
}

/* HEADER */
header {
  width: calc(100% - 200px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  line-height: 80px;
  justify-content: flex-end;
}

.btn {
  display: inline-block;
  height: 40px;
  width: 250px;
  line-height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  font-size: 0.8rem;
}

.btn:hover {
  transition: all 0.5s;
  transform: scale(1.1,1.1);
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

/* MAIN */
main {
  width: 100%;
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

section {
  margin-bottom: 40px;
}


/* MENU-SECTION */
.menu li {
  margin: 0 15px;
  font-size: 0.9rem;
}

.menu .underline {
  height: 2px;
  background-color: transparent;
  width: 50%;
}

.menu li:active .underline {
  background-color: greenyellow;
}

/* CARD LAYOUT */
.row {
  column-gap: 1rem;
  row-gap: 1rem;
}

.card {
  width: calc(100% / 6 - 1rem);
}

.box-photo {
  position: relative;
}

.card img {
  width: 100%;
}

.opacity {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0,0, 0.5);
  font-size: 4rem;
}


.card:hover .opacity {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.recently h2:first-child {
  margin-bottom: 2rem;
}


/* POPULAR-SECTION */
.popular img {
  border-radius: 100%;
}

/* FOOTER */
footer {
  width: 100%;
  height: 75px;
} 

footer .col.right, .col.left {
  width: 200px;
  height: 100%;
  padding: 0 10px;
}

footer .col.center {
  height: 100%;
  width: calc(100% - 400px);
  row-gap: 5px;
}

footer .center .top, footer .center .bottom {
  width: 100%;
}

footer .album {
  height: 100%;
}

footer .album img {
  height: 50%;
}

.album .title {
  margin-left: 10px;
}

footer .left .icon{
  margin: 0 5px;
}

.track-bar {
  min-width: 60px;
  width: 40%;
  height: 3px;
}

.track-left {
  width: 20% ;
  border-radius: 15%;
}

.track-right {
  width: 80%;
  background-color: #5a5a5a;
  border-radius: 15%;
}

.center .top * {
  margin: 0 5px;
}

.center .top .icon.play {
  font-size: 1.8rem;
}

.center .bottom span {
  font-size: 0.6rem;
  margin: 0 20px;
}

footer .right .icon {
  margin-right: 20px;
}
