* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: font-family: 'Montserrat', sans-serif;;
}

/* UTILITIES */
.bg-black {
  background-color: black;
}

.bg-darkblue {
  background-color: #141922;
}

.bg-grey {
  background-color: #282828;
}

.bg-dark {
  background-color: #080b12;
 }

.d-flex {
  display: flex;
 }

.space-between {
  justify-content: space-between;
 }

 /* MAIN CONTAINER */
.main-container {
  width: 100%;
  height: calc(100vh - 75px);
  background-color: yellow;
}

.sidebar {
  width: 200px;
  height: 100%;
  background-color: gray 
}
.left-container {
  width: calc(100% - 200px);
  height: 100%;
  background-color: pink;
  overflow: auto;
}

header {
  width: calc(100% - 200px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: red;
}

main {
  width: 100%;
  margin-top: 80px;
}

 footer {
  width: 100%;
  height: 75px;
  background-color: aqua;
 }